 Bonjour,<br><br>
<p>Une demande de réinitialisation de mot de passe a été effectuée pour le site Nouvelle-Techno.fr. Veuillez cliquer sur le lien suivant :</p>
<p><a href="{{ absolute_url(path('reset_password', {'token': token})) }}">Reset your password </a></p>
