<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>
			{% block title %}
				Welcome!
			{% endblock %}
		</title>
		 {{ encore_entry_link_tags('app') }}
     
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
		
	


		
    {% block stylesheets %}{% endblock %}
		</head>
		<body>
			{% block header %}
				{% include "ui/main_menu.html.twig" %}
			{% endblock %}
			{% block body %}{% endblock %}
			{% block footer %}
				{% include "ui/footer.html.twig" %}
			{% endblock %}

                {{ encore_entry_script_tags('app') }}
		
			
		

           
			{% block javascripts %}{% endblock %}
		</body>

	</html>
