<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3 filter-ads">

	<div class="form-row align-items-center">
		<div class="col-auto">
			<select class="custom-select form-control-sm sortby" >
				<option selected="">Open this select menu</option>
					{{ knp_pagination_sortable(listAds, 'Low Price', 'a.price' , {'direction': 'asc'}) }}
					{{ knp_pagination_sortable(listAds, 'High price', 'a.price' , {'direction': 'desc'}) }}
                    {{ knp_pagination_sortable(listAds, 'Latest Ads', 'a.createAt' , {'direction': 'desc'}) }}
						
			</select>
		</div>
	</div>

	<div class="ml-auto">

		<a class="ml-2 btn btn-outline-primary list-view">
			<i class="fas fa-list"></i>
			List</a>
		<a class="ml-2 btn btn-outline-primary grid-view">
			<i class="fa fa-th" aria-hidden="true"></i>
			Grid</a>
	</div>

</nav>
