{% extends 'base.html.twig' %}

{% block title %}Best ads
{% endblock %}

{% block body %}
	<div class="container ">
		<div class="text-center mb-3">
			<h2 class="display-20 display-md-18 display-lg-16">Most Recent Ads</h2>
		</div>
		{% include "ui/horizental_nav_filtr.html.twig" with {listAds:bestAdsPaginator}%}
		{% include "ui/list_ads.html.twig" with {listAds:bestAdsPaginator} %}
	</div>
{% endblock %}
