{% extends "base.html.twig" %}

{% block title %}
	Access denied
{% endblock %}

{% block body %}
	<div class="container">
		<div class="alert alert-dismissible alert-danger">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<h4 class="alert-heading">Oups!</h4>
			<p class="mb-0">Sorry, You don't have permission to access to this page!</p>
			<p>you can go back to the
				<a href="{{path('home_page')}}">Homepage.</a>
			</p>
		</div>
	</div>
{% endblock %}


